<extend name="Public/base"/>
<block name="style">
	<style type="text/css">
		body{
			padding: 0;
		}
	</style>
</block>
<block name="body">
		<div class="d-none index-sign"></div>
		<div class="index-content-wrap">
			<div class="index-content clearfix">
				<div class="data-changes clearfix">
					<ul>
						<li>
							<span><i></i></span>
							<div class="data-detial">
								<p class="change-num">1</p>
								<p>用户数</p>
							</div>
						</li>
						<li>
							<span><i></i></span>
							<div class="data-detial">
								<p class="change-num">1</p>
								<p>用户行为</p>
							</div>
						</li>
						<li>
							<span><i></i></span>
							<div class="data-detial">
								<p class="change-num">1</p>
								<p>文档数</p>
							</div>
						</li>
						<li>
							<span><i></i></span>
							<div  class="data-detial">
								<p class="change-num">1</p>
								<p>文档模型</p>
							</div>
						</li>
						<li>
							<span><i></i></span>
							<div  class="data-detial">
								<p class="change-num">1</p>
								<p>分类数</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="systerm">
					<h3>系统信息</h3>
					<div class="table-wrap">
					<table>
						<tr>
							<th>版本</th>
							<td>1.0.131218 </td>
						</tr>
						<tr>
							<th>服务器操作系统</th>
							<td>WINNT</td>
						</tr>
						<tr>
							<th>ThinkPHP版本</th>
							<td>3.2.0</td>
						</tr>
						<tr>
							<th>MYSQL版本</th>
							<td>5.5.40</td>
						</tr>
					</table>
					</div>
				</div>
				<div class="some-data">
					<h3>平台数据统计</h3>
					<div class="table-wrap">
					<table>
						<tr>
							<td>MYSQL版本</td>
							<td>5.5.40</td>
							<td>MYSQL版本</td>
							<td>5.5.40</td>
						</tr>
						<tr>
							<td>MYSQL版本</td>
							<td>5.5.40</td>
							<td>MYSQL版本</td>
							<td>5.5.40</td>
						</tr>
						<tr>
							<td>MYSQL版本</td>
							<td>5.5.40</td>
							<td>MYSQL版本</td>
							<td>5.5.40</td>
						</tr>
						<tr>
							<td>MYSQL版本</td>
							<td>5.5.40</td>
							<td>MYSQL版本</td>
							<td>5.5.40</td>
						</tr>
					</table>
					</div>
				</div>
			</div>			
		</div>
</block>



