@charset "utf-8";
/**
 * 描    述: 后台主体样式
 * 作用范围：后台独有
 */

/* 头部Logo,主导航
--------------------------------------*/
/*样式重置开始*/
*{
	padding: 0;
	margin: 0;
}
body{
	font-family: "微软雅黑";
	padding: 50px 0 0 200px;
	overflow-y: scroll;
	font-size: 14px;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: initial;
}
img{
	border: none;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 500;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.d-none{
	display: none;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}

/*头部开始*/
.header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	background-color: #383838;
}
.header .logo{
	width: 184px;
	height: 50px;
	float: left;
	margin-left: 16px;
	background: url(../images/bg_icon.png) no-repeat 0 -45px;
}
.header .nav{
	float: left;
	overflow: hidden;
}
.header .nav li{
	float: left;
	text-align: center;
}
.header .nav li a{
	display: inline-block;
	width: 80px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 18px;
}
.header .nav li a:hover{
	background-color: #656565;
}
.header .nav li a.current{
	background-color: #86db00;
}
.header .user{
	position: relative;
	margin-right: 20px;
}
.header .user .user-enterance{
	width: 20px;
	height: 50px;
	float: right;
	background: url(../images/bg_icon.png) no-repeat -150px 15px;
}
.header .user .user-menu{
	position: absolute;
	top: 100%;
	right: 0;
	width: 140px;
	background-color: #fff;
	z-index: 999;
}

.header .user .user-menu li{
	border: 1px solid #dfdfdf;
	padding-left: 8px;
	height: 30px;
	line-height: 30px;
}
.header .user .user-menu li a{
	display: inline-block;
	width: 100%;
	font-size: 14px;
	color: #2d7200;
}
.header .user .user-menu li:nth-child(n+2):hover{
	background-color: #f6f6f6;
}
/*头部结束*/

/*右侧边栏开始*/
.sidenav{
	width: 200px;
	height: 100%;
	padding-top: 30px;
	position: fixed;
	top: 50px;
	left: 0;
	background: url(../images/sidenav-bg.png) repeat;
}
.sidenav>ul{
	padding-left: 20px;
}
.sidenav .iterms>h3{
	color: #fff;
	padding-left: 30px;
	font-size: 16px;
	line-height: 35px;
	font-weight: 500;
	cursor: pointer;
	position: relative;
}
.sidenav .iterms>h3>i{
	float: left;
	position: absolute;
	top: 12px;
	left: 4px;
	width: 16px;
	height: 16px;
	background: url(../images/bg_icon.png) no-repeat -75px 0;
}
.sidenav .iterms>h3.open i{
	background-position: -100px 0;
}
.sidenav .iterms ul{
	margin: 0 0 8px;
}
.sidenav .iterms ul li{
	margin-bottom: 2px;
}
.sidenav .iterms ul li a{
	display: block;
	line-height: 30px;
	color: #fff;
	padding-left: 32px;
	font-size: 14px;
}
.sidenav .iterms ul li a:hover{
	background-color: #7c7c7c;
}

.sidenav .iterms ul li a.active{
	color: #414141;
	background: url(../images/items-a-active.png) no-repeat 160px 10px;
	background-color: #f6f6f6;
}
/*右侧边栏结束*/

/*content样式开始*/
.content{
	background-color: #f6f6f6;
}
.content .main{
	padding: 20px;
	min-height: 180px;
}
a{
	color: #2d7200;
}
a:hover{
	color: #4cdb00;
}
.cl:after{
	display: block;
	content: "";
	clear: both;
}
.btn{
	display: inline-block;
	line-height: 30px;
	font-size: 14px;
	padding: 0 20px;
	color: #edffd1;
	background-color: #4bbd00;
	margin-right: 10px;
}
.btn:hover{
	color: #fff;
	background-color: #4cdb00;
}
.big-btn{
	display: inline-block;
	width: 132px;
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	color: #fff;
	font-weight: 700;
	border: none;
	margin-right: 10px;
}
.search-group{
	margin-right: 10px;
	background: #fff;
}
.search-group input{
	float: left;
	width: 250px;
	height: 30px;
	line-height: 30px;
	padding: 2px 4px;
	border: none;
	outline: none;
}
.search-group a{
	float: left;
	width: 25px;
	height: 30px;
	background: url(../images/bg_icon.png) no-repeat -50px 5px;
}
.data-table{
	margin: 15px 0;
}

.data-table table>thead>tr>th{
	color: #fff;
	background-color: #353535;
	border-bottom: none;
}
.data-table td{
	color: #666;
	background-color: #fff;
}
.data-table a:hover{
	text-decoration: underline;
}
/*content样式结束*/

/*登录页面样式开始*/
.login-wrap{
	width: 1000px;
	margin: 0 auto;
}
.login-wrap form{
	width: 350px;
	padding: 30px;
	border-top: 5px solid #42EC00;
	margin: 0 auto;
	background-color: #fff;
}
.login-wrap form h3{
	color: #8D9CAA;
	text-align: center;
}
.login-wrap form .input-group{
	width: 290px;
	padding: 3px 10px;
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid #ececec;
	border-radius: 3px;
}
.login-wrap form .input-group i{
	float: left;
	width: 24px;
	height: 24px;
	margin-top: 3px;
	margin-right: 8px;
	background-image: url(../images/login.png);
	background-repeat: no-repeat;
}
i.i-password{
	background-position: -48px 0;
}
i.i-yanzhengma{
	background-position: -24px 0;
}
.login-wrap form .input-group input{
	width: 220px;
	height: 30px;
	padding: 4px 0;
	float: left;
	border: none;
	outline: none;
}
.login-wrap form .input-group input[name=yanzhengma]{
	width: 160px;
}
.change-yanzhengma{
	float: left;
	margin-top: 5px;
	color: #69C3FF;
	text-decoration: underline;
	cursor: pointer;
}
.yanzheng-img{
	width: 100%;
	height: 40px;
}
.login-wrap form input[type=submit]{
	width:100%;
	height: 48px;
	line-height: 48px;
	font-size: 16px;
	color: #fff;
	margin-top: 15px;
	background-color: #40C402;
	border: none;
}
.login-wrap form input[type=submit]:hover{
	background-color: #42EC00;
}
/*登录页面样式结束*/

/*首页内容样式开始*/
.index-content-wrap{
	width: 100%;
	min-height: 400px;
	margin-top: 30px;
	background-color: #f6f6f6;
	
}
.index-content{
	padding: 0 20px;
}
.index-content ul{
	display: block;
	width: 1050px;
	margin: 0 auto;
	overflow: hidden;
}
.index-content ul li{
	float: left;
	width: 180px;
	margin: 0 15px 20px;
	background-color: #fff;
	border: 1px solid #cdcdcd;
}

.index-content ul li>span{
	padding: 10px;
	float: left;
	border-right: 1px solid #cdcdcd;
}
.index-content ul li>span i{
	display: inline-block;
	width: 48px;
	height: 48px;
	background-image: url(../images/count_icon.png);
	background-repeat: no-repeat;
	
}
.index-content .data-detial{
	float: left;
	padding: 10px;
	width: 109px;
}
.index-content .data-detial p{
	text-align: center;
	margin: 0;
}
.index-content .data-detial p.change-num{
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 10px;
}
.systerm,.some-data{
	width: 48%;
	margin: 0 1% 20px;
	float: left;
}
.index-content h3{
	line-height: 30px;
	padding-left: 21px;
	margin-bottom: 0;
	font-size: 16px;
	background-color: #eee;
	border: 1px solid #cdcdcd;
}
.index-content .table-wrap{
	padding: 15px;
	border: 1px solid #cdcdcd;
	border-top: none;
	background-color: #fafafa;
}
.index-content table{
	width: 100%;
	text-align: left;
	border-collapse:collapse;
	color: #404040;
}
.index-content table th{
	width: 30%;
	padding: 10px 0 10px 6px;
	border-bottom: 1px solid #cdcdcd;
	font-weight: 500;
}

.index-content table td{
	border-bottom: 1px solid #cdcdcd;
}
.index-content .some-data table td{
	width: 25%;
	padding: 10px 0 10px 6px;
}

/*首页内容样式结束*/

/*系统页面标签切换样式开始*/
.tab-btn-box{
	border-bottom: 1px solid #e0e0e0;
}
.tab-btn-box a{
	display: inline-block;
	width:106px;
	height: 38px;
	padding: 0 20px;
	font-size: 16px;
	line-height: 36px;
	margin-bottom: -2px;
	border: 1px solid transparent;
	font-weight: 700;
}
.tab-btn-box a.active{
	border-top-width: 2px;
	border-color: #34b4e0 #e0e0e0 #f6f6f6;
}
.tab-content h3{
	font-size: 16px;
	font-weight: 700;
}
.tab-content h3 span{
	color: #aaa;
	font-size: 14px;
	margin-left: 8px;
	font-weight: 500;
}
.tab-content input{
	line-height: 30px;
	background-color: #fff;
	width: 400px;
	padding-left: 5px;
	border:1px solid #eee;
}
.tab-content textarea{
	width: 400px;
	height: 110px;
	padding: 5px;
}
.confirm-box{
	margin-top: 30px;
	margin-bottom: 15px;
	overflow: hidden;
}
.confirm-box button[type=submit]{
	background-color: #CC3900;
}
.confirm-box button[type=submit]:hover{
	background-color: #ff2610;
}
.confirm-box button[type=button]{
	background-color: #4bbd00;
}
.confirm-box button[type=button]:hover{
	background-color: #4cdb00;
}
/*系统页面标签切换样式结束*/

/*尾部样式开始*/
.cont-ft{
	padding: 0 20px;
}
.footer{
	text-align: center;
	border-top: 2px solid #cdcdcd;
	font-size: 16px;
	line-height: 30px;
	color: #404040;
}

/*尾部样式结束*/

/*用户页面样式开始*/
.main-title h2{
	font-size: 20px;
	margin-bottom: 20px;
}
.main-title a{
	padding: 0 5px;
}


/*用户页面样式结束*/











