<!DOCTYPE html>
<html lang="zh-cn" ng-app="bookStoreApp">
<head>
    <meta charset="UTF-8">
    <title>后台管理平台</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" media="all">
    <!-- 页面自定义单独样式 -->
    <style type="text/css">
		body{
			padding: 0;
			padding-top: 100px;
			background-color: #30333F;
		}
	</style>
</head>
<block name="body">
	<div class="login-wrap">
		<form action="{:U('login')}" method="post" class="login-form" autocomplete="off">
			<h3><span class="login-logo"></span>优优美家管理平台</h3>
			<div class="input-group">
				<i class="i-username"></i>
				<input type="text" placeholder="请填写用户名" name="username" />
			</div>
			<div class="input-group">   
				<i class="i-password"></i>
				<input type="text" placeholder="请填写密码" name="password" />
			</div>
			<div class="input-group">
				<i class="i-yanzhengma"></i>
				<input type="text" placeholder="请填写验证码" name="verify"/>
				<a class="change-yanzhengma" title="换一张" href="javascript:void(0)">换一张？</a>
			</div>
			<div class="yanzheng-img">
				<img class="verifyimg reloadverify" alt="点击切换" src="{:U('Public/verify')}">
			</div>
			<div class="login_btn_panel">
                <button class="login-btn" type="submit">
                    <span class="in"><i class="icon-loading"></i>登 录 中 ...</span>
                    <span class="on">登 录</span>
                </button>
                <div class="check-tips"></div>
            </div>
		</form>
	</div>
</block>