<extend name="Public/base"/>
<block name="style">
	<style type="text/css">
		.tab-box{
			border-bottom: 1px solid #e0e0e0;
		}
		.tab-box a{
			display: inline-block;
			width:106px;
			height: 38px;
			padding: 0 20px;
			font-size: 16px;
			line-height: 36px;
			margin-bottom: -2px;
			border: 1px solid transparent;
			font-weight: 700;
		}
		.tab-box a.active{
			border-top-width: 2px;
			border-color: #34b4e0 #e0e0e0 #f6f6f6;
		}
		.tab-content h3{
			font-size: 16px;
			font-weight: 700;
		}
		.tab-content h3 span{
			color: #aaa;
			font-size: 14px;
			margin-left: 8px;
			font-weight: 500;
		}
		.tab-content input{
			line-height: 30px;
			background-color: #fff;
			width: 400px;
			padding-left: 5px;
			border:1px solid #eee;
		}
		.tab-content textarea{
			width: 400px;
			height: 110px;
			padding: 5px;
		}
		.confirm-box{
			margin-top: 30px;
			margin-bottom: 15px;
			overflow: hidden;
		}
		.confirm-box button[type=submit]{
			background-color: #CC3900;
		}
		.confirm-box button[type=submit]:hover{
			background-color: #ff2610;
		}
		.confirm-box button[type=button]{
			background-color: #4bbd00;
		}
		.confirm-box button[type=button]:hover{
			background-color: #4cdb00;
		}
		
	</style>
</block>
<style type="text/css">
	.content>.main{
		min-height: 400px;
	}
</style>
<block name="sidebar">
	<div class="sidenav">
		<ul>
			<li class="iterms">
				<h3 class="open"><i></i>系统设置</h3>
				<ul>
					<li><a href="" class="active">网站设置</a></li>
					<li><a href="">分类管理</a></li>
					<li><a href="">模型管理</a></li>
					<li><a href="">配置管理</a></li>
					<li><a href="">菜单管理</a></li>
					<li><a href="">导航管理</a></li>
				</ul>
			</li>
			<li class="iterms">
				<h3><i></i>数据备份</h3>
				<ul style="display: none;">
					<li><a href="">备份数据库</a></li>
					<li><a href="">还原数据库</a></li>
				</ul>
			</li>
		</ul>
	</div>
</block>
<block name="body">
	<div class="main-title">
		<h2>网站设置</h2>
	</div>
	<div class="btn-and-seach clearfix">
		<div class="tab-box">
			<a href="">
				基本配置
			</a>
			<a href="">
				内容配置
			</a>
			<a href=""  class="active">
				用户配置
			</a>
			<a href="">
				系统配置
			</a>
		</div>
	</div>
	<div class="tab-content">
		<form action="" method="post">
			<h3>是否允许用户注册<span>( 是否开放用户注册 )</span></h3>
			<select name="">
				<option value="">允许注册</option>
				<option value="">关闭注册</option>
			</select>
			<div class="confirm-box">
				<button type="submit" class="big-btn">确 定</button>
				<button type="button" onclick="javascript:history.back(-1);return false;" class="big-btn">返 回</button>
			</div>
		</form>
	</div>
	
</block>