<extend name="Public/base"/>
<block name="style">
<style type="text/css">
	.content>.main{
		min-height: 400px;
	}
</style>
</blcok>
<block name="sidebar">
	<div class="sidenav">
		<ul>
			<li class="iterms">
				<h3 class="open"><i></i>用户管理</h3>
				<ul  style="display: none;">
					<li><a href="{:U('User/index')}">用户信息</a></li>
					<li><a href="{:U('User/authority')}">权限管理</a></li>
				</ul>
			</li>
			<li class="iterms">
				<h3><i></i>个人中心</h3>
				<ul>
					<li><a href="{:U('User/mydocument')}">我的文档</a></li>
					<li><a href="{:U('User/review')}" class="active">待审核</a></li>
				</ul>
			</li>
		</ul>
	</div>
</block>
<block name="body">
	<div class="main-title">
		<h2>待审核<span>(0)</span></h2>
	</div>
	<div class="btn-and-seach clearfix">
		<div class="btn-box fl">
			<a href="" class="btn">
				删除
			</a>
			<a href="" class="btn">
				禁用
			</a>
		</div>
	</div>
	<div class="data-table col1">
		<table class="table">
			<thead>
				<tr>
					<th><input type="checkbox" class="check-all" /></th>
					<th>编号</th>
					<th>标题</th>
					<th>创建者</th>
					<th>类型</th>
					<th>分类</th>
					<th>发布时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="checkbox" /></td>
					<td>2</td>
					<td>123</td>
					<td>admin</td>
					<td>主题</td>
					<td>默认分类</td>
					<td>2016-10-27</td>
					<td><a href="">通过</a> <a href="">删除</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</block>